@import url(./normalize.css);

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  padding: 2rem 3rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#search {
  justify-self: end;
  padding: 0.75rem 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  background-color: #eee;
}

h1 {
  color: #123;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;

  &.hide {
    display: none;
  }
}

.image {
  img {
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    height: 6rem;
    width: 6rem;
  }
}

.name {
  color: #123;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.email {
  display: block;
  color: #999;
  text-decoration: none;
}

.email,
.location,
.phone,
.address,
.birthday {
  margin-bottom: 0.4rem;
}

.overlay {
  background-color: rgba(0, 0, 10, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 300ms ease-out;
  z-index: 999;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .modal {
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 10rem auto;
    padding: 2.5rem;
    max-width: 25rem;
    position: relative;
    text-align: center;

    .close {
      position: absolute;
      right: 0.1rem;
      top: 0.1rem;
      border: 0;
      font-size: 2rem;
      font-weight: 300;
      background-color: transparent;
    }

    .image {
      @extend .image;

      img {
        margin: 0 auto 1rem;
        height: 10rem;
        width: 10rem;
      }
    }

    .name {
      margin-bottom: 0.7rem;
    }

    .email,
    .location,
    .phone,
    .address,
    .birthday {
      margin-bottom: 0.8rem;
    }

    hr {
      border: solid #eee;
      border-width: 1px 0 0 0;
      margin: 2rem;
    }

    .prev,
    .next {
      background-color: transparent;
      border: 0;
      color: #666;
      font-size: 4rem;
      position: absolute;
      height: 100%;
      top: 0;
    }
    .prev {
      left: -4rem;
    }
    .next {
      right: -4rem;
    }
  }
}
